<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSite</title>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div class="jumbotron mb-0">
      <div class="container">
        <h1 class="display-4">Karate Combat</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">KARATE COMBAT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#carousel"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-link" href="#fliptile">Flip Tiles</a>
            <a class="nav-link" href="#parallax">Parallax</a>
            <a class="nav-link" href="#form">Form</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Carousel section  -->

    <section class="black-white" id="carousel">
      <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="carousel-text">Karate Combat Fans!</h2>
              <img
                src="https://i.ytimg.com/vi/_p8o8pFO-ow/maxresdefault.jpg"
                alt="Los Angeles"
                width="100%"
              />
              <em>Let's get it on</em>
            </div>
            <div class="carousel-item">
              <h2 class="carousel-text">Are You Ready?</h2>

              <img
                src="https://static2.karate.com/resized/1200x675/1759_1607297231648_165020524_Karate_Combat_EP10_Still_04.png"
                alt="Chicago"
                width="100%"
              />
              <em>Let's get it on</em>
            </div>
            <div class="carousel-item">
              <h2 class="carousel-text">Let's Get It On!</h2>

              <img
                src="https://media.gettyimages.com/photos/live-karate-competition-at-the-karate-combat-hollywood-livestreaming-picture-id1124637009"
                alt="New York"
                width="100%"
              />
              <em>Let's get it on</em>
            </div>
            <div class="carousel-item">
              <h2 class="carousel-text">Hello Karate Lovers.</h2>

              <img
                src="https://images2.minutemediacdn.com/image/fetch/w_2000,h_2000,c_fit/https%3A%2F%2Ffansided.com%2Ffiles%2F2018%2F09%2FKC-NYC-Fight-51-of-67.jpg"
                alt="New York"
                width="100%"
              />
              <em>Let's get it on</em>
            </div>
            <div class="carousel-item">
              <h2 class="carousel-text">Karate Angular.</h2>

              <img
                src="https://www.sportsvideo.org/new/wp-content/uploads/2020/10/Karate-Combat-Wide-With-Background-scaled.jpg"
                alt="New York"
                width="100%"
              />
              <em>Let's get it on</em>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </section>

    <!-- Flip Tile section  -->
    <hr />
    <section class="white-section" id="fliptile">
      <div class="container">
        <h2 class="mb-3 mt-3">Karate Combat Flip Tiles Section</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat
          voluptates hic necessitatibus accusantium similique veniam voluptatem
          asperiores. Impedit ducimus explicabo dolores nulla in laudantium illo
          placeat architecto officiis pariatur. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Modi illum, architecto amet quo illo
          itaque. Illum laboriosam ipsa tempora optio molestias voluptatem fuga
          corporis similique cum. Pariatur voluptatum obcaecati quam.
        </p>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>

                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/bodies/2/Vitalie_Certan_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>HTML 5</h1>
                      <p>Karate HTML 5</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/bodies/2/Bryan_VanWaesberghe_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>CSS 3</h1>
                      <p>Karate CSS</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/bodies/2/Jesus_Lopez_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>Java Script</h1>
                      <p>Karate JavaScript</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/m_bodies/2/Edgars_Skrivers_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>C# Sharp</h1>
                      <p>Karate C#</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static2.karate.com/resized/450x450/1767_1607609938189_561592643_Omaira_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>Bootstrap</h1>
                      <p>Karate Bootstrap</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/bodies/2/Franklin_Mina_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>Angular</h1>
                      <p>Karate Angular</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/m_bodies/Teeik_SIlva_01.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h1>ASP.NET</h1>
                      <p>Karate ASP.Net</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img
                        src="https://static.karate.com/img/fighters/bodies/kevin-kowalczik_body_1.png"
                        alt="Avatar"
                        style="width: 300px; height: 300px"
                      />
                    </div>
                    <div class="flip-card-back">
                      <h2>Node JS</h2>
                      <p>Karate NodeJS</p>
                      <h5>DOJO KUN</h5>
                      <p>
                        Seek Perfection of Character. Character. This means that
                        the art of karate is more than just physical. ... Be
                        Faithful. Loyalty. ... Endeavor. Effort. ... Respect
                        Others. Etiquette. ... Refrain From Violent Behavior.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Horizontal parallax courusel  -->

    <section id="parallax">
      <hr />
      <h1 style="text-align: center">Parallax Karate</h1>
      <h2 style="text-align: center">Horizontal parallax carousel</h2>
      <div class="container">
        <div class="row">
          <div class="scrollcards">
            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Karate Combat</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>

            <div class="card">
              <img
                class="card-img-top"
                src="http://via.placeholder.com/350x150"
              />
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Text Here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <!-- Inquiry form with validation and JSON for submission.   -->

    <section id="form" >
      <div class="container">
        <h1 class="mb-5 mt-5" style="text-align: center">Karate Compat Register Form</h1>

        <div ng-app="myApp" ng-controller="formCtrl">
          <form >
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">First name</label>
                <input
                  ng-model="user.fName"
                  type="text"
                  class="form-control"
                  id="validationDefault01"
                  value=""
                  required
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last name</label>
                <input
                  ng-model="user.lName"
                  type="text"
                  class="form-control"
                  id="validationDefault02"
                  value=""
                  required
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">City</label>
                <input
                  ng-model="user.city"
                  type="text"
                  class="form-control"
                  id="validationDefault03"
                  required
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault04">State</label>
                <select ng-model="user.state" class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Choose...</option>
                  <option>California</option>
                  <option>Florida</option>
                  <option>New Jersey</option>
                  <option>New York</option>
                  <option>Texas</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Zip</label>
                <input
                ng-model="user.zip"
                  type="number"
                  class="form-control"
                  id="validationDefault05"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                ng-model="user.agree"
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="invalidCheck2"
                  required
                />
                <label class="form-check-label" for="invalidCheck2">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <button ng-click="click()" class="btn btn-primary" type="submit">
              Submit form
            </button>
          </form>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <p>JSON Form Format = {{user}}</p>
              <!-- <p>master = {{master}}</p> -->
            </div>
          </div>
          <br>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores consequatur ullam quo voluptates quod accusantium, molestias repellendus quia ut quisquam vitae, impedit et hic itaque! Nemo excepturi consequuntur ipsam.
          </div>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
